@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --custom-background-gradient: linear-gradient(180deg, #efe1ff 0%, #ba69ff 50%, #8a2be2 100%);
      --color-primary: #8a2be2;
      --color-text-primary: #333333;
      --color-text-secondary: #666666;
      --color-border: #000000;
      --color-success: #ffc43b;

      --tw-colors-primary: var(--color-primary);
      --tw-colors-text-primary: var(--color-text-primary);
      --tw-colors-text-secondary: var(--color-text-secondary);
      --tw-colors-border: var(--color-border);
      --tw-colors-success: var(--color-success);

      --tw-colors-background: var(--custom-background-gradient);

      --color-background: #ffffff;

   }

   * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
   }

   html.dark {
      --color-background: #131313;
      --color-border: #ffffff;
   }

   body {
      background-image: var(--custom-background-gradient);
      background-attachment: fixed;
      color: var(--color-text-primary);
   }
}