---
import Layout from '@/layouts/Layout.astro'
import WorkExperience from '@/components//WorkExperience.astro';
import Education from '@/components/Education.astro';
import Projects from '@/components/Projects.astro';
---

<Layout  title="Análista de datos"  name="Ruth Esther - Portafolio", description="Portafolio profesional de Ruth Esther, Data Analyst.">

   <section>
      <div class="flex ">
         <h2 data-translate_key="projects" class="text-3xl font-bold text-tm-pr mb-6 border-l-4 border-tm-pr pl-4">
            Projects
         </h2>
         
         <button class="ml-16 flex items-center hover:border-tm-se hover:text-tm-se border border-2 border-tm-pr rounded px-2 h-10 font-extrabold text-tm-pr ">
            <a href="/projects/project-1">
               <span data-translate_key="details" >Details</span>
            </a>
         </button>
      </div>
      <div class="mb-6 border-l-4 border-tm-pr pl-4">
         <Projects />
      </div>
   </section>
   
   <section>
      <div class="flex">
         <h2 data-translate_key="work_experience" class="text-3xl font-bold text-tm-pr mb-6 border-l-4 border-tm-pr pl-4">
            Work Experience
         </h2>
         <button class="ml-16 flex items-center hover:border-tm-se hover:text-tm-se border border-2 border-tm-pr rounded px-2 h-10 font-extrabold text-tm-pr ">
            <a href="/experience/people-group">
               <span data-translate_key="details">Details</span>
            </a>
         </button>
      </div>
      <div class="mb-6 border-l-4 border-tm-pr pl-4">
         <WorkExperience />
      </div>
   </section>
  
   <section>
      <div class="flex">
         <h2 data-translate_key="education" class="text-3xl font-bold text-tm-pr mb-6 border-l-4 border-tm-pr pl-4">
            Education
         </h2>
         <button class="ml-16 hidden flex items-center hover:border-tm-se hover:text-tm-se border border-2 border-tm-pr rounded px-2 h-10 font-extrabold text-tm-pr ">
            <a href="">
               <span  data-translate_key="details">Details</span>
            </a>
         </button>
      </div>
      <div class="mb-6 border-l-4 border-tm-pr pl-4">
         <Education />
      </div>
   </section>
</Layout>