---
// src/components/Content.astro
import WorkExperience from './WorkExperience.astro';
import Education from './Education.astro';
---

<div class="bg-tm-bg p-6 rounded-lg shadow-sm border-b-4 border-r-4 border-tm-border flex flex-col gap-8">
  
  <section>
    <h2 class="text-3xl font-bold text-tm-pr mb-6 border-l-4 border-tm-pr pl-4">
      Experiencia Laboral
    </h2>
    <WorkExperience />
  </section>
  
  <section>
    <h2 class="text-3xl font-bold text-tm-pr mb-6 border-l-4 border-tm-pr pl-4">
      Educación
    </h2>
    <Education />
  </section>
  
</div>
