---
const yeard = new Date().getFullYear();
---

<div class="flex flex-col items-center justify-center">
   <p class="text-sm text-tm-text2">
      &copy; {yeard} <span class="font-semibold text-tm-se">Ruth Esther</span> - <span data-key="footer_porfolio">Portafolio. Todos los derechos reservados.</span>
   </p>

   <div class="w-full flex justify-end">
      <a href="https://work-biography.vercel.app/" target="_blank" rel="noopener noreferrer" class="text-tm-text2 hover:text-tm-se transition-colors duration-200">
         <span class="sr-only- text-[8px]">By luisEF</span>
      </a>
   </div>
</div>