---
const yeard = new Date().getFullYear();
---

<footer class="fixed bottom-0 min-h-[550px] -md:min-h-[250px] w-full">
  
  <div class="absolute top-0 z-10 top-10 w-full flex items-center justify-center text-[#2a1f26]">
    <p class="text-center text-[12px] lowercase">&copy {yeard} Ruth Esther - porfolio. Todos los derechos reservados.</p>
  </div>
  
  <p class="absolute bottom-5 text-[10px] left-2 z-20 text-center">El Sint Servaasbrug (Puente de San Servacio), Maastricht, provincia de Limburgo, Países Bajos.</p>

  <div class="absolute inset-0 bg-[url('/images/footer.webp')] bg-cover bg-bottom [mask-image:linear-gradient(transparent,black_30%)]" >
  </div>
  
</footer>

<!--
El Sint Servaasbrug (Puente de San Servacio). Está ubicado en Maastricht, que es la ciudad capital de la
provincia de Limburgo, en los Países Bajos.
-->
