---

---

<div class="bg-tm-bg p-4 sm:p-6 rounded-lg shadow-sm border border-tm-border text-center">
  <div class="block md:hidden w-full flex flex-col items-center justify-center p-2">
    <img
      class="w-40 h-40 md:w-40 md:h-40 object-cover rounded-full border-4 border-tm-pr shadow-md"
      src="/images/profile_resize.webp"
      alt="Imagen de perfil de Ruth Esther"
      loading="lazy"
    />
  </div>
  <h1 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold text-tm-pr mb-1 leading-tight">
    Ruth Esther Baéz Órtiz
  </h1>
  <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold text-tm-se mb-4 leading-snug">
    Data Analyst
  </h2>
  <p class="text-sm sm:text-base text-tm-text2 max-w-2xl mx-auto">
    Orientada a la acción, transformando datos complejos en insights estratégicos y soluciones impactantes.
    Mi capacidad para modelado predictivo y visualización efectiva y mi compromiso con la excelencia analítica le seran de gran interes.
  </p>
  </div>
