---

---

<header class="flex items-center w-full">
    <div class="absolute -md:top-2 flex flex-row justify-center w-full">
        <h1 class="font-extrabold -md:text-3xl text-4xl text-black" >Ruth Esther Baéz Órtiz</h1>
    </div>
</header>

<style>
  header {
    background: transparent;
  }
</style>