 
<div class="mt-8 pt-6 border-t border-gray-200">
   <h2 data-translate_key="nota_title" class="text-2xl font-semibold text-gray-800 mb-4">Notes</h2>
   <p data-translate_key="nota_text" class="mb-4 text-gray-700 leading-relaxed">
      This is an exercise to demonstrate my skills; the company and other data are entirely fictitious. The dashboard is only an image, so you will not be able to interact with it.
   </p>
</div>